@inherits BenefitSelectorBase
@using BethanysPieShopHRM.Shared

@if (Benefits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <TableTemplate Items="Benefits" IsSmall="true" TItem="BenefitModel">

                <TableHeader>
                    <th class="w-auto">Benefit</th>
                    <th class="w-25">Start date</th>
                    <th class="w-25">End date</th>
                </TableHeader>
                <RowTemplate>
                    <td>
                        <input type="checkbox" checked="@context.Selected"
                               @onchange="e => CheckBoxChanged(e, context)" />
                    </td>
                    <td>@context.Description</td>

                    @if (context.Selected)
                    {
                        <td>@context.StartDate</td>
                        <td>
                            <DateField @bind-Date="context.EndDate" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                </RowTemplate>
            </TableTemplate>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn btn-primary" disabled="@SaveButtonDisabled"
                    @onclick="SaveClick">
                Save
            </button>
        </div>
    </div>
}