<div class="profile">
    <div class="profile-bg">
        <img class="img-responsive" src="images/profilePicture.jpg" />
    </div>
    <div class="profile-picture">
        <img class="img-responsive @cssClass account-photo" 
             src="images/profilePicture.jpg" 
             @onclick="@(e => cssClass = cssClass == "circle" ? null : "circle")" />
        <div class="mt-2 text-center">@ChildContent</div>
    </div>
</div>

@code {
    private string cssClass = "circle";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public void ProfileClick()
    {
        cssClass = cssClass == "circle" ? null : "circle";
    }

}